body {
  background-color: hsl(0, 0%, 98%);
  /* font-family: ; */
  padding: 80px;
}

/* TExt top divs */

.textTop {
  margin: auto;
  text-align: center;
}

.textTop span {
  font-size: 39px;
  font-weight: 100;
  color: black;
  text-align: center;
}

.textTop h3 {
  font-size: 39px;
  font-weight: 700;
  color: hsl(234, 12%, 34%);
  width: fit-content;
  margin: auto;
}

.textTop p {
  width: 500px;
  text-align: center;
  width: fit-content;
  color: hsl(229, 6%, 66%);
  margin: auto;
}
/* Cards divs */

/* Massive card div */

.massiveCard {
  position: relative;
  margin-left: 350px;
}

/* Supervisor div */

.cardSupervisor {
  background-color: white;
  height: 250px;
  position: relative;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
  border-top: 3px solid hsl(180, 62%, 55%);
}

.imgPosition {
  bottom: 20px;
  right: 25px;
  position: absolute;
}

/* Builder Card divider   Doses div = dividers??? */

.cardBuilder {
  background-color: white;
  height: 250px;
  position: relative;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
  border-top: 3px solid hsl(0, 78%, 62%);
}

.imgPostion {
  bottom: 20px;
  right: 25px;
  position: absolute;
}

/* Karma div */

.cardKarma {
  background-color: white;
  /* width: 340px; */
  height: 250px;
  position: relative;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  /* left: 350px;
    top: -162px; */
  box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
  border-top: 3px solid hsl(34, 97%, 64%);
}

/* Card Calculator */

.cardCalculator {
  background-color: white;
  height: 250px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
  border-top: 3px solid hsl(212, 86%, 64%);
}

.cardCalculatorMD {
  background-color: white;
  height: 250px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
  border-top: 3px solid hsl(212, 86%, 64%);
  display: none;
}

h1 {
  color: hsl(234, 12%, 34%);
  font-size: x-large;
}

p {
  color: hsl(229, 6%, 66%);
}

.cardCalculator {
  color: hsl(229, 6%, 66%);
}

@media only screen and (max-width: 1199px) {
  .cardCalculatorMD {
    background-color: white;
    height: 250px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    box-shadow: -1px 10px 27px 2px rgb(59 57 57 / 27%);
    border-top: 3px solid hsl(212, 86%, 64%);
    display: block;
  }

  .cardCalculator {
    display: none;
  }
}

/* .marginPosition{
    margin-left: 100px;
} */
